a{
    text-decoration: none;
}

a:hover{
    text-decoration: none
}

body{
    background-color: #f7f7f0
}

li{
    list-style-type: none;
    margin: 0; padding: 0;
}

ul{
    margin: 0; padding: 0;
}

/*for nav d0d0d0 or 35394b  for sidebar #303030*/ 
.navbar-default{
    background-color: #fff;
}
.navbar{
    border-color: #e0e0e0;
    border-width: medium medium 2px;
    border-radius: 0;
    border-style: none none solid;
}

.widget .widget-head {
    background: none repeat scroll 0 0 #f9f9f9;
    border-bottom: 1px solid #efefef;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    padding: 0 10px 0 0;
    position: relative;


}

.widget .widget-head .widget-title{
    display: inline;
    font-size: 15px;
    line-height: 18px;
    margin: 0;
    min-height: 19px;
    min-width: 30px; 
    text-overflow: ellipsis;
    max-width: 90%;
    max-height: 18px;
}

.widget {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #efefef;
    margin: 0 auto 10px;
    position: relative;
}

.innerAll {
    padding: 10px;
    position: relative;
}

.margin-none {
    margin: 0 ;
}

.border-bottom {
    border-bottom: 1px solid #efefef !important;
}

.bg-gray {
    background: none repeat scroll 0 0 #f9f9f9;
}

.widget .widget-body {
    padding-top: 10px;
    /* padding-bottom: 10px;    */
}

/* jquery ui css override*/

.tasks-state-highlight{
    border: 1px dashed #b7b7b8;
    /*height: 1.5em;*/ 
    line-height: 1.2em;
    margin-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;    
}

/* ----------------------*/

.elem-dragged{
    transform: rotate(4deg);    
}

.list{
    padding: 5px;

}

.board {
    overflow-x: auto;
    overflow-y: hidden;
}

.col-xs-3 {
    width:  270px;
}

.dragable-object{
    cursor: -webkit-grab; cursor: -moz-grab;
}
.dragable-object:active{
    cursor: -webkit-grabbing; cursor: -moz-grabbing;
}

.card .col-sm-6{
    padding-left: 0;
    padding-right: 0;
}

.sortable-card{
    margin-left: 7px;
    margin-right: 7px;
    min-height: 5px;
}

/* with border */
.card{
    border: 1px solid #f0f0f0;
    padding-left: 7px;
    padding-right: 7px;        
    padding-bottom: 4px;

    margin: 0px;
    margin-bottom: 7px;
    border-radius: 3px;

}
.card:hover{
    background-color: #f9f9f9;
}

.addcardButton{    
    padding-left: 14px;

    padding-left: 14px;
    /*padding-bottom: 5px;
    padding-top: 5px;*/    
    background-color: #f9f9f9;
    color: #888;
}

.addcardButton span{
    font-size: 15px;
    margin-right: 1px;
}
.addcardButton:hover{
    background-color: fbfbf9;
    cursor: pointer;
}

.list-adder{
    cursor: pointer;
}

.fa{
    line-height: 35px;
}

.list-adder .widget .widget-head:hover{
    background-color: fbfbf9;
}

.addcardWidget{
    padding: 3px;
    margin-left: 7px;
    margin-right: 7px;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    margin-bottom: 3px;

}

.full-width{
    width: 100%;
}

.widgetButton{
    height: 30px; line-height: 0; margin-top: 3px;
}

.card div{
    overflow: auto;
    max-height: 150px;
}

/*.label-red{
    border-top: 3px solid #ef7777;

}

.label-green{
    border-top: 3px solid #77ef77;
}

.label-blue{
    border-top: 3px solid #7777ef;
}

.label-yellow{
    border-top: 3px solid #efef77;
}

.label-orange{
    border-top: 3px solid #ef9811;

}
.label-purple{
    border-top: 3px solid #ef55ef;
}*/

.login-box {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 25px;
    text-align: left;
    width: 100%;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    margin-bottom: 5em;
}
.input-group-addon i {
    min-width: 12px;
    height: 20px;
    line-height: 20px;
}

.login-box-width{
    width: 400px !important;    
}

.login-box .title{
    font-size: 1.2em;
    color: #777777;
}

.board-block{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 8px 12px;
    margin: 5px;
    height: 84px;
    margin: 0 16px 16px 0;
    line-height: 22px;
    border-radius: 4px;
}

.board-block:hover {
    background-color: #fbfbfb;
}

.navbar-brand {
    padding-top: 8px;

}
.navbar-nav > li > a {
    padding-bottom: 8px;
    padding-top: 8px;
}

.modal-header .close {
    margin-top: -4px;
    padding-left: 30px;
}

.modal-title {
    font-size: 20px;
    line-height: 1.2em;
    margin: 0 0 9px;
    display: inline;
    text-overflow: ellipsis;
}

.modal-header span{
    color: #7c7c7c;
    text-overflow: ellipsis;
}

.list-title{
    font-weight: bold;
}

.header-icon{
    font-size: 22px;
    height: 30px;
    line-height: 30px;
    width: 30px;
    top: 5px;
    color: #acacac !important;
}

.modal-content hr{
    margin: 0px;
}

.modal-content .form-group{
    margin-bottom: 0px;    
}
.modal-footer{
    margin-top: 0px;
}
.desc-btn {
    text-decoration: underline;
    color: #7c7c7c;
    border-radius: 3px;
}

.desc-btn:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.desc-btn .desc-icon{    
    padding-right: 7px;
    padding-left: 7px;
}

.title-input{
    height: auto;
    line-height: normal;
    margin: 5px;    
}

.title-text{
    white-space:nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
}
.context-menu{
    position: absolute;
    top: 30px;
    left: 235px;
    z-index: 1000;
    background: white;
    width: 120px;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

.context-menu div{
    padding: 5px;
}

.context-menu div:hover{
    background-color: #f9f9f9;
    cursor: pointer;
}

/* Bootstrap class override*/

.dropdown-menu{
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

/*-----------end-------------*/

.dialog-content{
    margin-left: 25px;
}

.dialog-content .dialog-desc{
    padding-right: 7px;
    padding-left: 7px;
}

.desc-label{
    color: #7c7c7c;
}
.max-width{
    width: 100%;
}
.dialog-sub-head {
    font-size: 16px;
    line-height: 1.25em;
    margin: 0 0 6px;
}

.window-options {
    clear: both;
    margin-bottom: 20px;
    position: relative;
}

.option-icon{
    color: #a6a6a6;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    top: 1px;
    text-decoration: none;
    margin-right: 8px;
    line-height: normal;
}
.option-btn{
    white-space: nowrap;
    text-align: left;
}

.color-box{    
    margin-left: 8px;
}

.colors-menu{
    height: 18px;
    width: 80px;
    margin: 3px;
    border-radius: 3px;
}

.colors-menu:hover{
    width: 90px;
    cursor: pointer;
}

.labels-menu{
    position: absolute;
    top: 78px;
    left: 475px;
    z-index: 1000;
    background: white;
    width: 120px;    
    border-radius: 3px;
    padding: 5px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

.red{
    background-color: #ef7777;
    color: #ef7777;
}

.green{
    background-color: #77ef77;
    color: #77ef77;
}

.blue{
    background-color: #7777ef;
    color: #7777ef;
}

.yellow{
    background-color: #efef77;
    color: #efef77;
}

.orange{
    background-color: #ef9811;
    color: #ef9811;
}

.purple{
    background-color: #ef55ef;
    color: #ef55ef;
}

.gray{
    background-color: #a6a6a6;
    color: #a6a6a6;
}

.card-color{
    height: 3px;
    margin-bottom: 2px;
}

.color-selected{
    color: white;
    text-align: right;
    width: 95%;
    margin-right: 15px;
    padding-right: 10px;
}
.max-width{
    max-width: 100%;
}
.text-btn{
    cursor: pointer;
    text-decoration: underline;
}
.cardTitleInput{
    font-size: 20px;
    line-height: 1.2em;
    width: 80%;
}
